// Nova Tool CSS
.month-picker-input-container{
    width:100% !important;
    .month-picker-input{
        width: 100%;
        height:2.25rem;
        color: #7c858e !important;
        border-width: 1px !important;
        border-color: #bacad6 !important;
        border-radius: .5rem !important;
       font-family: inherit;
       font-size: 100% !important;
       padding-left: .75rem !important;
       padding-right: .75rem !important;
    }
    .month-picker__container{
        top: 2.5em !important;
        z-index: 1;
    }
}
